<link rel="stylesheet" href="%jquery-ui-css%">
<div id="gttPopup" class="J-M jQjAxd open" style="display:none">
    <div id="gttPopupSlider"></div>
    <div class="inner">
	<div class="hdr clearfix item">
	    <a id="gttAvatarURL" target="_blank" title="Open your Trello homepage" class="member-avatar"><span id="gttAvatarText" /><img id="gttAvatarImg" src='' /></a>
	    <a id="gttUsername" target="_blank" title="Open your Trello homepage" style="margin-left:5px;">Username</a>
	    | <a id="gttSignOutButton" title="Sign out">Sign out</a>
	    | <a href="https://trello.com/b/CGU9BYgd/gmail-to-trello-development" target="_blank" title="Open Gmail-to-Trello Feature/Bug board in a new window">Features/Bugs</a>
	    <a id="close-button" title="Close">&times;</a>
   </div>
   <div class="popupMsg">Loading...</div>
        <div class="content menuInnerContainer" style="display:none">
            <dl>
                <dt style="display:none">Orgs. filter:</dt>
                <dd style="display:none">
                   <select id="gttOrg">
                      <option value="all">All</option>
                      <option value="-1">My Boards</option>
                   </select>
                </dd>
                <dt>Board:</dt>
                <dd><select id="gttBoard">
                    <option value="">Select a board...</option>
                </select></dd>
                <dt>List:</dt>
                <dd>
                    <select id="gttList">
                        <option value="">...please pick a board...</option>
                    </select>
                </dd>
                <dt>Labels:</dt>
                <dd class="clearfix listrow">
                    <span id="gttLabelsMsg">...please pick a board...</span>
                    <ul id="gttLabels" />
                </dd>
                <dt>Due:</dt>
                <dd><input type="date" id="gttDue_Date" /> <input type="time" id="gttDue_Time" /></dd>
                <dt>Title:</dt>
                <dd><input type="text" id="gttTitle" /></dd>
                <dt>Description:</dt>
                <dd><textarea id="gttDesc" style="height:180px;width:300px"></textarea></dd>
                <dd>
                    <input type="checkbox" checked="checked" id="chkBackLink" />
                    <label for="chkBackLink">Add GMail link</label>
                    <input type="checkbox" checked="checked" id="chkMarkdown" style="margin-left:10px">
                    <label for="chkMarkdown">Markdown</label>
                    <input type="checkbox" checked="checked" id="chkSelfAssign" style="margin-left:10px">
                    <label for="chkSelfAssign">Assign to me</label>
                </dd>
                <dt>Attach:</dt>
                <dd id="gttAttachments" />
                <dt>Images:</dt>
                <dd id="gttImages" />
                <dd><input type="button" disabled="true" id="addToTrello" value="Add to Trello" />
                    <a id="gttPosition" value="bottom" title="Add to bottom">&rarrb;</a>
                </dd>
           </dl>
       </div>
   </div>
</div>
