<a class="hideMsg" title="Dismiss message">&times;</a>
<ul><li>Deauthorize the Trello token:
    <ol><li><button id="signout">Click here to sign out of Trello</button> <span id="signout" style="color: red">&nbsp;</span></li>
        <li><button id="reload">Click here to reload this page</button> <span id="reload" style="color: red">&nbsp;</span></li>
        <li>Once reloaded, click the main button again</li>
        <li>A pop-up will request you "Authorize Trello"</li>
    </ol></li>
    <li style="padding-top: 1em;">To <b>completely</b> clear the Trello cookie:
    <ol><li><button id="clearCacheNow">Click here to clear the Chrome browsing data</button> <span id="clearCacheNow" style="color: red">&nbsp;</span></li>
        <li>To do this manually, under menu "Chrome":</li>
        <li>Select "Clear Browsing Data..."</li>
        <li>Check "Clear data from hosted apps"</li>
        <li>Press button "Clear browsing data"<br />
    </ol></li>
</ul>
