<a class="hideMsg" title="Dismiss message">&times;</a>
<ul><li>Subscribe.
    <ol><li><a href="./">Reload</a> this page.</li>
        <li>Once reloaded, click this button again.</li>
        <li>A pop-up will request you "Authorize Trello".</li>
    </ol></li>
    <li style="padding-top: 1em;">To <b>completely</b> clear the Trello cookie:
    <ol><li>Under menu "Chrome"</li>
        <li>Select "Clear Browsing Data..."</li>
        <li>Check "Clear data from hosted apps"</li>
        <li>Press button "Clear browsing data"</li>
    </ol></li>
</ul>
